doctype html
html
  head
    title= title
    //meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
