extends layout
block content
  form(action="/home/submitpassword",method="post")
    p(style=stl)=msg
    input(type="password",name="oldpass",placeholder="旧密码")
    br
    input(type="password",name="newpass",placeholder="新密码")
    br
    input(type="password",name="newpasscf",placeholder="新密码确认")
    br
    input(type="submit",value="Done")
