body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  padding: 5px;
  color: #0E91A9;
  text-decoration: none;
  font-size: 21px;
}

div.myheader {
  padding-top: 1%;
  padding-bottom: 1.9%;
  background-color: rgba(44, 132, 115, 0.11);
}

form.loginlist {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: rgba(38, 64, 158, 0.06);
  margin-left: -15px;
  margin-right: -15px;
}

button.loginbtn {
  margin-top: 20px;
  background-color: rgba(60, 115, 136, 0.47);
  color: rgb(242, 244, 249);
  border-radius: 20px;
  font-size: 24px;
  border-color: rgba(78, 132, 156, 0.34);
  border-width: 4px;
  transition: background-color 0.3s, color 0.3s;
}

div.form-group {
  width: 100%;
}

button.close {
  right: 0px;
}

button.loginbtn:hover {
  margin-top: 20px;
  background-color: rgba(47, 184, 236, 0.47);
  color: rgb(2, 33, 47);
  border-radius: 20px;
  font-size: 24px;
  border-color: rgba(78, 132, 156, 0.34);
  border-width: 4px;
}

div.myalert {
  text-align: center;
  margin-top: -31px;
  display: none;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#passwordchange {
  position: absolute;
  right: 10%;
  top:10%;
  width: 100px;
  font-size:20px;
}

p.warning-text {
  font-size: 11px;
  color: red;
}

div.seats {
  padding:20px;
}

div.seats div {
  text-align: center;
  height: 40px;
}

div.seats div.left {
  position:absolute;
  left: 6%;
}

div.seats div.left[name="0"] {
  top:100%;
}
div.seats div.left[name="1"] {
  top:90%;
}
div.seats div.left[name="2"] {
  top:80%;
}
div.seats div.left[name="3"] {
  top:70%;
}
div.seats div.left[name="4"] {
  top:60%;
}
div.seats div.left[name="5"] {
  top:50%;
}
div.seats div.left[name="6"] {
  top:40%;
}
div.seats div.left[name="7"] {
  top:30%;
}

div.seats div.back {
  position: absolute;
  top: 20%;
}



div.seats div[name="8"] {
  left:8%;
}
div.seats div[name="9"] {
  left:18%;
}
div.seats div[name="10"] {
  left:28%;
}
div.seats div[name="11"] {
  left:38%;
}
div.seats div[name="12"] {
  left:48%;
}
div.seats div[name="13"] {
  left:58%;
}
div.seats div[name="14"] {
  left:68%;
}
div.seats div[name="15"] {
  left:78%;
}
div.seats div[name="16"] {
  left:88%;
}


div.seats div.right {
  position: absolute;
  right: 4%;
}

div.seats div[name="17"] {
  top:30%;
}
div.seats div[name="18"] {
  top:40%;
}
div.seats div[name="19"] {
  top:50%;
}
div.seats div[name="20"] {
  top:60%;
}
div.seats div[name="21"] {
  top:70%;
}
div.seats div[name="22"] {
  top:80%;
}
div.seats div[name="23"] {
  top:90%;
}
div.seats div[name="24"] {
  top:100%;
}



div.seats div.middle {
  position: absolute;
  top: 35%;
}

div.seats div[name="25"] {
  left:78%;
}
div.seats div[name="26"] {
  left:68%;
}
div.seats div[name="27"] {
  left:58%;
}
div.seats div[name="28"] {
  left:48%;
}
div.seats div[name="29"] {
  left:38%;
}
div.seats div[name="30"] {
  left:28%;
}
div.seats div[name="31"] {
  left:18%;
}


div.seats div.front {
  position: absolute;
  top: 50%;
}

div.seats div[name="32"] {
  left: 18%;
}
div.seats div[name="33"] {
  left: 28%;
}
div.seats div[name="34"] {
  left: 38%;
}
div.seats div[name="35"] {
  left: 48%;
}
div.seats div[name="36"] {
  left: 58%;
}
div.seats div[name="37"] {
  left: 68%;
}
div.seats div[name="38"] {
  left: 78%;
}


div.seats form button {
  position: absolute;
  left: 48%;
  top: 90%;
}
